<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
            href="#" class="tip-bottom">Category</a> <a
            href="#" class="current">Categories-lst</a> </div>
    
</div>
<div class="widget-box">
    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
        <h5>Category List</h5>
        <span class="label label-info">counter</span>
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped with-check">
            <thead>
                <tr>
                    <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                    <th>#</th>
                    <th>Category</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>1</td>
                    <td>Watch</td>
                    <td class="taskOptions"><a href="#" class="tip-top" data-original-title="Update"><i class="icon-ok"></i></a> <a href="#" class="tip-top" data-original-title="Delete"><i class="icon-remove"></i></a></td>
                </tr>

                <tr>
                    <td><input type="checkbox" /></td>
                    <td>1</td>
                    <td>Cap</td>
                    <td class="taskOptions"><a href="#" class="tip-top" data-original-title="Update"><i class="icon-ok"></i></a> <a href="#" class="tip-top" data-original-title="Delete"><i class="icon-remove"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>