<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
        <a
        href="#" class="tip-bottom">Category</a> <a href="#" class="current">Create-Categories</a> 
    </div>
</div>
<div class="widget-box">
    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
         <h5>Create New Category</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="">
            <div class="chat-message well">
                <button class="btn btn-success">Create</button> <span class="input-box">

                    <input type="text" placeholder="Create New Category">

                </span>
            </div>
      
        </form>
    </div>
</div>